.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, black, white);
}


.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0, 70, 250);
}

.card:hover,
.card:focus,
.card:active {
  border-color: #ffffff;
}

.card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.color1 {
  background: transparent;
  border: none;
  width: 80px;
  height: 30px;
}

.color2 {
  background: transparent;
  border: none;
  width: 80px;
  height: 30px;
}

.pickers {
  text-align: center;
}

.slider {
  padding: 10px;
  margin: 0;
  -webkit-appearance: none;
  background: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: #ffffff;
  border-radius: 10px;
  border: 3px solid #000000;
  margin-top: -6px;
  height: 18px;
  width: 18px;
}

.slider::-webkit-slider-runnable-track {
  cursor: pointer;
  background: #ffffff;
  border-radius: 4px;
  border: 0.2px solid #ffffff;
  width: 100%;
  height: 8px;
}